* {
    background-color: blanchedalmond;
}
h1{
    text-align: center;
    color: palevioletred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: palevioletred;
}
img{
    border: 10px solid white;
    max-width: 30%;
    max-height: 30%;
    float: inline-end;
    margin: 10%;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #000;
    text-align: justify;
    padding: 10%;
}